#report-card {
  flex-grow: 4;
  background-color: var(--center-panel);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 50%;
  min-width: 1000px;
  min-height: 500px;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#greeting-msg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: opacity 0.1s;
}

#greeting-msg-txt-wrapper {
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0px 30px 0px 30px;
}

#greeting-msg-txt-welcome {
  font-size: 64px;
}

#greeting-msg-txt-instr {
  color: var(--secondary-text);
  margin-left: 30px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#current-report {
  position: relative;
  background-color: var(--side-panel);
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 90%;
  margin: 10px 10px 10px 10px;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  animation: fadein 0.5s;
}

#current-weather-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 30%;
  margin: 30px 0px 30px 0px;
  border-right: 1px solid var(--line);
}

#city-name {
  font-size: 32px;
  color: var(--primary-text);
}

#weather-condition-desc {
  font-size: 16px;
  color: var(--secondary-text);
}

#temperature-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#temp-actual {
  font-size: 32px;
  color: var(--primary-text);
}

#temp-feels-like {
  font-size: 16px;
  color: var(--secondary-text);
}

#data-wrapper {
  font-size: 12px;
  color: var(--secondary-text);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.data-display {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 10px;
}

#data-middle {
  border-left: 1px solid var(--line);
  border-right: 1px solid var(--line);
}

#forecast-weather-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
}

.forecast-day-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast-weather-condition-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  max-height: 100px;
}

.forecast-date {
  font-size: 24px;
  color: var(--primary-text);
}

.forecast-weather-condition-desc {
  font-size: 14px;
  color: var(--secondary-text);
}

.forecast-temperature {
  font-size: 24px;
  color: var(--primary-text);
}

.forecast-precipitation {
  color: #49c5e9;
}
